
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
a {
    color: rgb(53, 52, 52);
    cursor: pointer;
}
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-rigth-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-rigth-section a{
    margin-right: 10px;
}
nav .nav-rigth-menu {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
nav .nav-rigth-section img{
    border-radius: 50%;
    margin-left: 10px;
}
main {
    width: 100vw;
    height: 60vh;
    justify-content: center;
}
main img{
    display: flex;
    margin: 8% auto 3%;
}
main input {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    margin: 2% auto;
    border-width: 1px;
    border-color: rgba(187, 182, 182, 0.52);
    border-style: solid;
    
}
main section{
    display: flex;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    justify-content: center;
}
main section button{
    height: 35px;
    margin-right: 10px;
    border-style: none;
}
main p{

    justify-content: center;
}
footer {
    display: flex;
    align-items: flex-end;
    background-color:rgba(187, 182, 182, 0.52);
    width: 100vw;
}
footer nav ul li {
    display: inline-block;
}
footer nav section{
    display:flex;
    width: 100vw;
}
footer nav section .nav-under-left{
    justify-content: flex-start;
}
footer nav section .nav-under-rigth{
    justify-content: flex-end;
}